.container{
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}
.block{
    width: 40px;
    height: 40px;
    border:2px solid azure;
}
button{
    border: none;
}
.btn-primary{
    margin: 0 15px;
}

.bg-black{
    background-color: black;
}
.bg-white{
    background-color: white;
}
.bg-yellow{
    background-color: rgb(224, 224, 12);
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.bg-violet{
    background-color: violet;
}
.bg-teal{
    background-color: teal;
}
.bg-orange{
    background-color: orange;
}