<app-header (setDate)='setDate($event)'></app-header>
<div class="d-flex content">
    <app-side-bar class="col-md-1" [selectedHotels]='selectedHotels' [selectedCountries]='selectedCountries' [date]='date' (countryTable)='showCountryTable($event)' (hotelsTable)='showHotelsTable($event)' (flightsTable)='showFlightsTable($event)'></app-side-bar>
    <div class="col-md-11 d-flex justify-content-center align-items-center">
        <div class="container" *ngIf="!countryTable&&!hotelsTable&&!flightsTable">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, voluptatem veniam similique est nesciunt rerum saepe, officia dolorum animi culpa sit odio mollitia natus, eos perspiciatis obcaecati sed dicta accusantium fuga ratione incidunt nam unde! Ab doloribus accusamus facere unde excepturi sint alias fuga, enim sit velit a eligendi aut modi eum vel asperiores totam, quod maiores harum eaque tempore ipsam! Soluta eaque dignissimos veritatis est, perferendis sint sed iure fugiat voluptatem, tenetur non, asperiores earum! Nobis cum pariatur hic, sint sequi optio velit. Alias modi hic suscipit recusandae et optio ex voluptates reiciendis similique. A laborum harum nisi vitae.
        </div>
        <div *ngIf="countryTable" class="container">
            <table  class="container table table-primary table-striped table-borderless text-center mb-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Назва країни</th>
                        <th scope="col">Тревел статус</th>
                        <th scope="col">К-сть готелів</th>
                        <th scope="col">К-сть турів</th>
                    </tr>
                </thead>
                <tbody>

                
                <tr *ngFor="let country of countriesToRender;let i=index" [class.table-secondary]='country.travelStatus==="Недоступна"' [class.table-success]='country.checkStatus'>
                    <th scope="row">{{elemsOnPage*countryPageNumber+i+1}}</th>
                    <td><input class="col-md-1 form-check-input" [disabled]='country.travelStatus==="Недоступна"' type="checkbox" [checked]='country.checkStatus' (change)='setChecked("country",elemsOnPage*countryPageNumber+i)'></td>
                    <td >{{country?.name}}</td>
                    <td >{{country?.travelStatus}}</td>
                    <td >{{country?.hotelsCount}}</td>
                    <td >{{country?.toursCount}}</td>
                </tr></tbody>
            </table>
            <div class="col-md-3 container d-flex justify-content-between">
                <button class="btn btn-reverse" (click)="prevPage('country')">➤</button>
                <button class="btn btn-primary" (click)="select('country')">Обрати</button>
                <button class="btn" (click)="nextPage('country')">➤</button>
            </div>
            
        </div> 
       
        <div *ngIf="hotelsTable" class="container">
            <table  class="container table table-primary table-striped table-borderless text-center mb-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Назва готелю</th>
                        <th scope="col">К-сть місць</th>
                        <th scope="col">Місто</th>
                        <th scope="col">Доступні дати</th>
                    </tr>
                </thead>
                <tbody>

               
                <tr *ngFor="let hotel of hotelsToRender;let i=index" [class.table-secondary]='hotel.slotsCount===0' [class.table-success]='hotel.checkStatus'>
                    <th scope="row">{{elemsOnPage*hotelPageNumber+i+1}}</th>
                    <td><input class="col-md-1 form-check-input" [disabled]='hotel.slotsCount===0' type="checkbox" [checked]='hotel.checkStatus' (change)='setChecked("hotel",elemsOnPage*hotelPageNumber+i)'></td> 
                    <td >{{hotel?.name}}</td>
                    <td >{{hotel?.slotsCount}}</td>
                    <td >{{hotel?.city}}</td>
                    <td >{{hotel?.availableDates}}</td>
                </tr>
            </tbody>
            </table>
            <div class="col-md-3 container d-flex justify-content-between">
                
                <button class="btn btn-reverse" (click)="prevPage('hotel')">➤</button>
                
            
            <button class="btn btn-primary" (click)="select('hotel')">Обрати</button>
            <button class="btn" (click)="nextPage('hotel')">➤</button>
        </div>
        </div>
        <div *ngIf="flightsTable" class="container">
            <table  class="container table table-primary table-striped table-borderless text-center mb-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Назва готелю</th>
                        <th scope="col">К-сть місць</th>
                        <th scope="col">Місто</th>
                        <th scope="col">Дата рейсу</th>
                    </tr>
                </thead>
               <tbody><tr *ngFor="let flight of flightsToRender;let i=index" [class.table-success]='flight.checkStatus'>
                    <th scope="row">{{elemsOnPage*flightPageNumber+i+1}}</th>
                   <td> <input class="col-md-1 form-check-input" type="checkbox" [checked]='flight.checkStatus' (change)='setChecked("flight",elemsOnPage*flightPageNumber+i)'></td>
                    <td >{{flight?.companyName}}</td>
                    <td >{{flight?.slotsCount}}</td>
                    <td >{{flight?.route}}</td>
                    <td >{{flight?.flightDate}}</td>
                </tr>
            </tbody> 
            </table>
            <div class="col-md-3 container d-flex justify-content-between">
                
                <button class="btn btn-reverse" (click)="prevPage('flight')">➤</button>
                
            
            <button class="btn btn-primary" (click)="select('flight')">Обрати</button>
            <button class="btn" (click)="nextPage('flight')">➤</button>
        </div>
        </div>
    </div>
</div>
<div *ngIf="selectedCountries.length>0&&selectedHotels.length>0&&selectedFlights.length>0&&modal" class="modal-con">
    <div class="my-modal container">
        <div class="modal-message mb-3 text-center">
            {{modalMessage}}
        </div>
        <div class="d-flex justify-content-evenly">
            <button *ngIf="orderResponse.length===0" class="btn btn-success" (click)='makeOrder()'>Замовити</button>
            <button class="btn btn-danger" (click)="hideModal()">Закрити</button>
        </div>
    </div>
</div>