<div class="container">
    <form>
        <h2 class="text-center fs-2">Choose what you want to add:</h2>
        <div>
            <input type="radio" name="elementType" #table checked value="table" id="table" class="form-check-input" (change)='showAddPanel(table.value)'>
            <label class="form-check-label" for="table">Table</label>
            <input type="radio" name="elementType" #list value="list" id="list" class="form-check-input" (change)='showAddPanel(list.value)'>
            <label class="form-check-label" for="list">List</label>
        </div>
        
        <div *ngIf='showTablePanel' class="tablePanel">
            <div class="mb-3 row">
                <label for="tableRowCount" class="col-sm-2 col-form-label">Row Count:</label>
                <div class="col-sm-5">
                    <input type="text" id="tableRowCount" #tableRowCount class="form-control">
                </div>                
            </div>
            <div class="mb-3 row">
                <label for="tableCellCount" class="col-sm-2 col-form-label">Cell Count:</label>
                <div class="col-sm-5">
                    <input type="text" id="tableCellCount" #tableCellCount class="form-control">
                </div>                
            </div>
            <h4>Table style:</h4>
            <div class="mb-3 row">
                <label for="tableCellWidth" class="col-sm-2 col-form-label">Cell width:</label>
                <div class="col-sm-5">
                    <input type="text" id="tableCellWidth" #tableCellWidth class="form-control">
                </div>                
            </div>
            <div class="mb-3 row">
                <label for="tableCellHeight" class="col-sm-2 col-form-label">Cell height:</label>
                <div class="col-sm-5">
                    <input type="text" id="tableRowCount" #tableCellHeight class="form-control">
                </div>                
            </div>

            <div class="mb-3 row justify-content-between borderSetter">
                <div class="col-sm-3">
                    <label for="tableBorderWidth" class="col-form-label">Border settings:</label>
                </div>
                <input type="text" class="col-sm-3" #tableBorderWidth id="tableBorderWidth" > 
                <select #tableBorderType class="col-sm-3" >
                    <option value="solid" selected>solid</option>
                    <option value="dashed">dashed</option>
                    <option value="dotted">dotted</option>
                </select>
                <select #tableBorderColor class="col-sm-3" >
                    <option value="black" selected>black</option>
                    <option value="red">red</option>
                    <option value="blue">blue</option>
                    <option value="green">green</option>
                </select>
            </div>
            <button (click)='addTable(tableRowCount.value,tableCellCount.value,tableCellWidth.value,tableCellHeight.value,tableBorderWidth.value,tableBorderType.value,tableBorderColor.value)'>Create</button>
        </div>
        <div *ngIf="showListPanel" class="listPanel">
            <div class="mb-3 row">
                <label for="listElemCount" class="col-sm-2 col-form-label">List elements count:</label>
                <div class="col-sm-5">
                    <input type="text" #listElemCount id="listElemCount" class="form-control">
                </div>  
            </div>
            <div class="mb-3 row">
                <label for="listStyle" class="col-sm-2 col-form-label">List style:</label>
                <select #listStyle id="listStyle" class="col-sm-5">
                    <option value="circle" selected>Circle</option>
                    <option value="disc">Disc</option>
                    <option value="square">Square</option>
                </select>
            </div>
            
            <button class="btn btn-secondary" (click)='addList(listElemCount.value,listStyle.value)'>Create</button>
        </div>
    </form>
</div>
