*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    margin: 20px 0;
}
app-about{
    display: block;
    width: 100%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}